.table tbody tr td, 
.table tbody tr th, 
.table tfoot tr td, 
.table tfoot tr th, 
.table thead tr td, 
.table thead tr th{
	border-top : 0px ;			
	border-bottom:1px solid #ddd;

}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}