.title{
	font-size:30px;
	font-weight: bold ;
	color:blue;
}
.table tbody tr td, 
.table tbody tr th, 
.table tfoot tr td, 
.table tfoot tr th, 
.table thead tr td, 
.table thead tr th{
	border-top : 0px ;			
}



.ellipse_column{  /* 內容超出範圍就省略 */
		 overflow : hidden; /* 多出來的內容省略 */
		  text-overflow : ellipsis; /* 多出來的內容改成省略符號... */
		  white-space : nowrap; /* 強制內容不換行 */
		 
}
.table_fixed_and_ellipse_column{  /* 表格內容超出範圍就省略，且不管內容如何，表格都不會被撐大 */

	/* 通常省略功能都一定要設定元件的width(寬度)才會運行，但是table fixed預設就會將寬度所在螢幕大小，所以才不用額外設定width */
		table-layout:fixed ; /* 表格大小永遠不變，不管內容為何，表格都不會被撐大*/
		 overflow : hidden; /* 多出來的內容省略 */
		  text-overflow : ellipsis; /* 多出來的內容改成省略符號... */
		  white-space : nowrap; /* 強制內容不換行 */
		 
}

.force_word_break{ /*內容超出範圍就強制換行 */
	word-wrap:break-word; /* 強制斷行 */
	word-break:break-all ; /*英文字母也斷掉*/
}

.table_fixed_and_force_word_break{ /*表格內容超出範圍就強制換行，且不管內容如何，表格都不會被撐大 */
	word-wrap:break-word; /* 強制斷行 */
	word-break:break-all ; /*英文字母也斷掉*/
	table-layout:fixed ; /* 表格大小永遠不變，不管內容為何，表格都不會被撐大*/
}
